        </div>

        <footer class="bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Directed by &copy; huynhvanphap198@gmail.com %>
                </p>
            </div>
        </footer>

        <script type="text/javascript" src="/public/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
