<div class="popup popup-noti-wrap dropdown-menu" aria-labelledby="notificationPopUp" id="popup-notification">
    <div class="popup-container">
        <div class="popup-title-notification">
            <div class="popup-title title-text">
                Thông báo
            </div>
        </div>

        <div class="popup-content-container content-notification">
            <!-- <div class="notification">
                <a href="#">
                    5 người thích bình luận này của bạn: "Khải Định là một vị vua tồi có tội với đất nước và với dân tộc Việt Nam, nhưng nếu ông được sinh làm người bình thường ở thời đại bây giờ thì ông có vẻ sẽ là một nhà thiết kế tài năng"
                </a>
            </div> -->
        </div>
    </div>
</div>