<div class="popup popup-noti-wrap dropdown-menu" aria-labelledby="notificationPopUp" id="popup-notification">
    <div class="popup-container">
        <div class="popup-title-notification">
            <div class="popup-title title-text">
                Thông báo
            </div>
        </div>

        <div class="popup-content-container content-notification">
            <!-- <a href="#" class="notification">
                <div class="d-flex flex-gap-notification content-group-wrapper">
                    <div class="user-avatar-wrap">
                        <img
                            src="http://placehold.it/150x150"
                            onerror="this.src = 'http://placehold.it/150x150'"
                            class="circle-bars avatar-bars"
                        >
                    </div>
                    <div class="three-dot-ad content">
                        <span>Huynh Van Phap : </span>
                        "Khải Định là một vị vua tồi có tội với đất nước và với 
                        dân tộc Việt Nam, nhưng nếu ông được sinh làm người bình thường ở thời đại bây giờ thì ông
                        có vẻ sẽ là một nhà thiết kế tài năng"
                    </div>
                </div>
            </a> -->
        </div>
    </div>
</div>