::-webkit-scrollbar {
    width: 8px;
    height: 5px
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a5a19e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cec9c6;
}

.three-dot {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.custom-container {
    margin: unset;
    padding: unset;
    max-width: 100%;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.navbar-auth {
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 30px;
}

.text-logo::after {
    content: "MyVidd";
    font-weight: 700;
    color: #f53a51;
}

.cover-photo {
    width: 100%;
    height: 250px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-login {
    border-radius: 50px;
    font-weight: 600;
    color: #299ce1;
    background-color: inherit;
    border: 1px solid #ebeaea;
}

.btn-login > i {
    margin-left: 3px;
    margin-right: 5px;
}

.btn-login > span {
    font-size: 15px;
}

.btn-login:hover {
    background-color: #c6eefe;
    border: 1px solid #c6eefe;
}

.float-right {
    float: right;
}

.no-padding {
    padding: unset;
}

.no-margin {
    margin: unset;
}

.input-search {
    background-color: unset;
    border: 1px solid #ebeaea;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
}

.btn-search {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container-auth {
    margin-right: 15px;
}

.circle-bars {
    border-radius: 50%;
    background-color: unset;
    margin-bottom: 2px;
}

.circle-bars:active {
    outline: none !important;
    border: 1px solid #e2dfdd;
}

.btn-bars {
    font-size: 20px;
    padding: 10px;
}

.btn-bars:hover {
    background-color: #e2dfdd;
}

.avatar-bars {
    width: 35px;
    height: 35px;
}

.btn-noti {
    position: relative;
    width: 45px;
    height: 45px;
}

.noti-number {
    background-color: #f30926;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 7px;
    color: #ffffff;
}

.content-myvidd-container {
    width: 100vw;
    /* height: 90vh; */
}

#videos-container {
    width: 100%;
}

#sidebar-container {
    width: 17%;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
}

.sidebar-item {
    padding: 0.75rem 1.25rem;
    color: #7c7c7c;
    font-size: 1.20em;
}

.sidebar-item > i {
    margin-right: 1.75em;
}

.sidebar-column-wraper {
    margin: 0.25em 1em;
}

.sidebar-column-wraper:hover {
    border-radius: 0.5em;
    background-color: #e2dfdd;
    font-weight: 700;
}

.thumbnail-video-wrap {
    height: 200px;
    object-fit: cover;
    position: relative;
}

.thumbnail-video-wrap > span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: #000000;
    opacity: 0.7;
    padding: 5px;
    border-radius: 5px;
}

.thumbnail-video-wrap > img {
    height: 100%;
    border-radius: 10px;
}

.video-container {
    color: unset;
    text-align: left;
}

.video-container:hover {
    color: unset;
}

.video-info-wrap {
    display: flex;
    padding: 5px 0;
}

.video-info-channel {
    width: 15%;
    padding: 5px;
}

.video-info-channel > a {
    all: unset;
}

.video-info {
    width: 85%;
}

.video-info__title {
    font-size: 20px;
    font-weight: 700;
    color: #191919;
}

.video-info__text {
    font-size: 15px;
}

.three-dot-video-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description-wrap {
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.view-and-date {
    color: #191919;
    font-weight: 700;
}

.description-content {
    font-size: 1rem;
}

.video-header__title {
    color: #191919;
    font-size: 1.7em;
    font-weight: 600;
}

.video-header__action {
    display: flex;
    gap: 10px;
}

.video-header__action-channel > img {
    width: 45px;
    height: 45px;
}

.video-header__action-username {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.video-header__action-username > .channel-name-info {
    font-size: 1rem;
    color: #191919;
    font-weight: 500;
}

.btn-subscribe {
    border-radius: 50px;
    height: 100%;
    background-color: #191919;
    color: #f7f7f7;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-subscribe:hover {
    background-color: #4a4a4a;
}

.video-header__action-option {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.btn-like {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn-dislike {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btn-like, .btn-dislike {
    background-color: #f0f0f0;
}

.btn-like:hover, .btn-dislike:hover {
    background-color: #dedddd;
}

.btn-active > i {
    color: #76bff1;
}

.name-subscription {
    font-size: 2rem;
    color: #252626;
    font-weight: 500;
}

.subscribers-subscription {
    font-size: 1rem;
}

.option-subscriber {
    position: absolute;
    background-color: #faffff;
    right: 0;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 0.9rem;
    color: #299ce1;
    font-weight: 600;
    border: 1px solid #faffff;
    box-shadow: 1px 1px 5px #7d8080;
    display: none;
}

.option-subscriber > div {
    padding: 7px 20px;
}

.option-subscriber > div:hover {
    background-color: #c6eefe;
}

.video-sidebar {
    gap: 7px;
    cursor: pointer;
}

.video-sidebar-wrap {
    width: 50%;
    position: relative;
}

.video-sidebar-wrap > img {
    border-radius: 10px;
}

.video-sidebar-wrap > span {
    position: absolute;
    bottom: 7px;
    right: 5px;
    background-color: #000000;
    opacity: 0.7;
    padding: 5px;
    border-radius: 5px;
}

.video-sidebar-info {
    width: 50%;
}

.video-sidebar-info__title {
    font-weight: 700;
    font-size: 1rem;
    color: #191919;
}

.clear-href {
    all: unset;
}

.clear-href:hover {
    all: unset;
}

.progress-side-video {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5px;
    opacity: 0.7;
}

.progress-bar-weight {
    background-color: #f70131;
}

.video-search-wrap {
    width: 40%;
    height: 250px;
}

.video-search-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.video-search-avatar-bars {
    width: 30px;
    height: 30px;
}

.video-search-sidebar {
    gap: 15px;
    cursor: pointer;
}

.video-search-sidebar-info-wrap {
    gap: 5px;
    flex: 1;
}

.video-watch {
    width: 100%;
    height: 420px;
    border-radius: 10px;
}