.popup {
    position: absolute !important;
}

.popup-noti-wrap {
    top: 5px;
    right: 47px;
    box-sizing: content-box;
}

.popup-user-wrap {
    top: 5px;
    left: 20px;
    box-sizing: content-box;
}

.popup-title {
    border-bottom: 1px solid #dedede;
    padding: 15px 15px;
}

.title-text {
    font-size: 15px;
    font-weight: 800;
}

.popup-title-notification {
    height: 50px;
}

.popup-title-user {
    height: 50px;
    padding: 5px 15px;
    border-bottom: 1px solid #dedede;
}

#popup-notification {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -2px 10px 18px #888888;
}

#popup-user {
    width: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: -2px 10px 18px #888888;
}

.popup-content-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-option {
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
    color: #191919;
    padding: 5px 10px !important;
}

.notification {
    width: 100%;
    font-size: 15px;
    color: #191919;
}

.content-group-wrapper {
    padding: 10px;
}

.user-option:hover, .content-group-wrapper:hover {
    background-color: #f7f7f7;
}


.flex-gap-notification {
    gap: 0.5em;
}

.three-dot-ad {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content > span {
    font-size: 0.8em;
    color: #949494;
    font-weight: 800;
}