<script>
    socket.on("comment::add", (comment) => {
        let html = createNewComment({
            _id: comment._id,
            name: comment.name,
            image: comment.image,
            comment: comment.content,
        });
        document.getElementById("comments").innerHTML = html + document.getElementById('comments').innerHTML;
    });

    socket.on("comment::notification", notification => {
        const contentNotification = document.querySelector('.content-notification');
        const btnNotification = document.querySelector('.btn-noti');

        btnNotification.removeChild(btnNotification.querySelector('.noti-number'));

        let btnHtml = btnNotification.innerHTML;
        let html = createNewNotification(notification);

        btnHtml += `<div class="noti-number">${contentNotification.childElementCount + 1}</div>`;

        contentNotification.innerHTML = html + contentNotification.innerHTML;
        btnNotification.innerHTML = btnHtml;
    });
</script>