<%
    const bntDisLike = (typeof isDislike != 'undefined' && isDislike) ? 'btn-active' : '';
%>
<button class="btn btn-default btn-dislike <%= bntDisLike %>" onclick="doDisLike();">
    <i class="fa fa-thumbs-down"></i>

    <!-- <span id="dislikes">
        <%= video.dislikers.length %>
    </span> -->
</button>