<%
    const bntLike = (typeof isLike != 'undefined' && isLike) ? 'btn-active' : '';
%>
<button class="btn btn-default btn-like <%= bntLike %>" onclick="doLike();">
    <i class="fa fa-thumbs-up"></i>

    <span class="ml-1"><%= video.likers.length %></span>
</button>