<div class="card my-4">
    <h5 class="card-header">Related Videos</h5>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-12" id="related-videos">

            </div>
        </div>
    </div>
</div>

<script>
    const category = document.getElementById('category').value;
    const videoId = document.getElementById('videoId').value;
    var ajax = new XMLHttpRequest();

    ajax.open('GET', `/video/related/${category}/${videoId}`, true);

    ajax.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const videos = JSON.parse(this.responseText);
            let html = '';

            videos.forEach(video => {
                let flag = false;
                const createdAt = new Date(video.createdAt);
                let date = createdAt.getDate() + '';

                date = date.padStart(2, '0') + ' ' + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
                html += '<div>';
                html += `<img class="img-fluid" src="${baseUrl}${video.thumbnail}" />`;
                html += `<p>${video.minutes}:${video.seconds}</p>`;
                html += `<h3><a href="/watch/${video.watch}">${video.title}</a></h3>`;
                html += '</div>';
            });

            document.getElementById('related-videos').innerHTML = html;
        }
    }

    ajax.send();
</script>