<% if (typeof isLogin !== 'undefined' && isLogin) { %>
    <div id="sidebar-container">
        <div class="sidebar-wrapper">
            <div class="column-flex sidebar-column-wraper">
                <a href="/" class="sidebar-item">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </div>
            <div class="column-flex sidebar-column-wraper">
                <a href="/channel/<%= auth._id %>" class="sidebar-item">
                    <i class="fas fa-play-circle"></i>
                    Kênh của tôi
                </a>
            </div>
            <div class="column-flex sidebar-column-wraper">
                <a href="/video/history/list" class="sidebar-item">
                    <i class="fas fa-history"></i>
                    Video đã xem
                </a>
            </div>
            <div class="column-flex sidebar-column-wraper">
                <a href="/user/subscribed" class="sidebar-item">
                    <i class="far fa-play-circle"></i>
                    Kênh đăng kí
                </a>
            </div>
        </div>
    </div>
<% } %>