<div class="row">
    <div class="col-md-12">
        <div id="menu-wrapper" class="menu-wrapper">
            <ul id="menu" class="menu">
                <li class="item active" data-filter-by="all" data-filter="all">Tất cả</li>
                <li class="item" data-filter-by="channel" data-filter="<%= video.user._id %>">Của <%= video.user.name %></li>
                <li class="item" data-filter-by="category" data-filter="<%= video.category %>">Cùng danh mục</li>
            </ul>
        </div>

        <div class="arrows">
            <div class="arrow-wrap left-arrow hidden" id="leftArrow">
                <button class="btn circle-bars arrow">
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
            <div class="arrow-wrap right-arrow" id="rightArrow">
                <button class="btn circle-bars arrow">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-2">
        <div id="listVideosVertical" class="d-flex flex-column" style="gap: 5px;"></div>
    </div>
</div>

<script>
    var ajax = new XMLHttpRequest();
    
    document.addEventListener('DOMContentLoaded', function() {
        getVideos();
    });

    function getVideos(filterBy = 'all', filter = '') {
        ajax.open("GET", getVideosUrl[filterBy]+'?filter='+filter, true);
    
        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                const response = JSON.parse(this.responseText);
                let html = '';
    
                response.videos.forEach(video => {
                    html += createVideoSidebar(video);
                });
    
                document.querySelector("#listVideosVertical").innerHTML = html;
            }
        }
    
        ajax.send();
    }

    const items = document.querySelector("#menu");

    items.addEventListener("click", function(event) {
        if (event.target.classList.contains("item")) {
            items.querySelector(".active").classList.remove("active");
    
            event.target.classList.add("active");
    
            const dataFilter = event.target.getAttribute("data-filter");
            const filterBy = event.target.getAttribute("data-filter-by");

            getVideos(filterBy, dataFilter);
        }
    });

    function createVideoSidebar(video) {
        let html = '';

        html += `<a href="/watch/${video.watch}" class="clear-href">`;
            html += '<div class="video-sidebar d-flex">';
                html += '<div class="video-sidebar-wrap">';
                    html += `<img src="${video.thumbnail}" class="img-fluid">`;
                    html += `<span>${video.minutes}:${video.seconds}</span>`;
                html += '</div>';
                html += '<div class="video-sidebar-info">';
                    html += `<div class="video-sidebar-info__title three-dot-video-name">${video.title}</div>`; 
                    html += `<div class="video-sidebar-info__channel">${video.user.name}</div>`;
                    html += `<div class="video-sidebar-info__views">${video.views} views</div>`;
                html += '</div>';
            html += '</div>';
        html += '</a>';

        return html;
    }
</script>