<button class="btn btn-subscribe" type="button" onclick="doSubscribe();">
    <% if (typeof isSubscribe != 'undefined' && isSubscribe) { %>
        Subscribed
    <% } else { %>
        Subscribe
    <% } %>
</button>